%script{:src => "http://localhost:3000/assets/tracker.js", :type => "text/javascript"}
:javascript
  hf.track({
      campaign: "#{params[:campaign]}",
      goal: "#{params[:goal]}"
  });
#tracking-pixels